<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Web Site 1</string>
		<key>URL</key>
		<string>http://www.usatoday.com</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Site 2</string>
		<key>URL</key>
		<string>http://www.bbc.co.uk/</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Site 3</string>
		<key>URL</key>
		<string>http://m.npr.org</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Site 4</string>
		<key>URL</key>
		<string>http://www.breakingnewsenglish.com/</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Site 5</string>
		<key>URL</key>
		<string>http://www.bbc.co.uk/worldservice/learningenglish/</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Site 6</string>
		<key>URL</key>
		<string>http://www.voanews.com/learningenglish/home/</string>
	</dict>
</array>
</plist>
