<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>네이버</string>
		<key>ON</key>
		<integer>1</integer>
		<key>URL</key>
		<string>http://m.cndic.naver.com/search/all?query=@@</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>다음</string>
		<key>ON</key>
		<integer>1</integer>
		<key>URL</key>
		<string>http://m.engdic.daum.net/search.do?q=@@&amp;dic=ch</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Dictionary 1</string>
		<key>ON</key>
		<integer>1</integer>
		<key>URL</key>
		<string>http://www.yellowbridge.com/chinese/wordsearch.php?searchMode=C&amp;dialect=M&amp;word=@@&amp;search=Go</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Web Dictionary 2</string>
		<key>ON</key>
		<integer>1</integer>
		<key>URL</key>
		<string>http://en.bab.la/dictionary/chinese-english/@@</string>
	</dict>
</array>
</plist>
