<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyChineseHD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MyChineseLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MyChinesePro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MyEnglish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyEnglishHD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyEnglishLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D70B40F115F794D900A242B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D729F89F156000960020523B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7F86A56157A27F300874B4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7F8AC01161BBF480002B330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7F8AD54161BBF560002B330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FEAAD7164286A200012702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FFB43E16400993008B7299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7FFB58D164009C6008B7299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
